<div class="tab-discount-coupon">
    <div class="tab-dc-text1">↓ 这里有淘宝优惠券信息 ↓</div>
    <div class="tab-dc-text2">每日更新价格超实惠天猫优惠券等你来拿！</div>
    <div class="tab-dc-form">
        <form action="">
            <label class="tab-dc-keyword"><input><p>搜索标题，关键字或者商品链接</p></label>
            <label class="tab-dc-submit"><input type="submit"></label>
        </form>
    </div>
    <div class="tab-dc-tit1">
        <h2>今日特惠<i></i></h2>
        <p>小编精挑细选为你奉上优惠券</p>
    </div>
    <div class="tab-dc-grids">
        <a href="http://">
            <img src="{{Random.image('98x98', Random.color())}}" alt="{{Random.ctitle(20)}}">
            <div class="tab-dc-price"><b>￥</b><i>50</i>满199使用</div>
            <div class="tab-dc-intro">某某指定商品可用</div>
            <div class="tab-dc-progress">
                <span>剩余20%</span>
                <i><span style="width:20%"></span></i>
            </div>
        </a>
        <a href="http://">
            <img src="{{Random.image('98x98', Random.color())}}" alt="{{Random.ctitle(20)}}">
            <div class="tab-dc-price"><b>￥</b><i>50</i>满199使用</div>
            <div class="tab-dc-intro">某某指定商品可用</div>
            <div class="tab-dc-progress">
                <span>剩余20%</span>
                <i><span style="width:20%"></span></i>
            </div>
        </a>
        <a href="http://">
            <img src="{{Random.image('98x98', Random.color())}}" alt="{{Random.ctitle(20)}}">
            <div class="tab-dc-price"><b>￥</b><i>50</i>满199使用</div>
            <div class="tab-dc-intro">某某指定商品可用</div>
            <div class="tab-dc-progress">
                <span>剩余20%</span>
                <i><span style="width:20%"></span></i>
            </div>
        </a>
        <a href="http://">
            <img src="{{Random.image('98x98', Random.color())}}" alt="{{Random.ctitle(20)}}">
            <div class="tab-dc-price"><b>￥</b><i>50</i>满199使用</div>
            <div class="tab-dc-intro">某某指定商品可用</div>
            <div class="tab-dc-progress">
                <span>剩余20%</span>
                <i><span style="width:20%"></span></i>
            </div>
        </a>
    </div>
    <a href="" class="tab-dc-more"></a>
    <div class="tab-dc-qrcode"><a href="{{Random.url()}}"></a></div>
</div>