<div class="tab-shop-grid">
    <ul>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
        <li><a href=""><img src="{{Random.image('332x114', Random.color())}}" alt="{{Random.ctitle(20)}}"></a></li>
    </ul>
</div>