<div class="tab-shop-1111-tabs">
    <div class="tab-s1t-head">
        <div class="tab-s1t-nav">
            <span class="cur">首页</span>
            <span>女装</span>
            <span>男装</span>
            <span>女鞋</span>
            <span>美妆</span>
            <span>食品</span>
            <span>数码</span>
            <span>家居</span>
            <span>母婴</span>
            <span>内衣</span>
        </div>
        <a href=""></a>
    </div>
    <div class="tab-s1t-body">
        <div class="tab-s1t-panel home cur">
            <a href="" class="tab-s1t-home-to"></a>
            <div class="tab-s1t-home-rec">
                <a href=""><img src="{{Random.image('324x148', Random.color())}}"></a>
                <a href=""><img src="{{Random.image('324x148', Random.color())}}"></a>
            </div>
            <div class="tab-s1t-home-carousel">
                <ul>
                    <li><a href="">
                        <img src="{{Random.image('118x76', Random.color())}}">
                        <h3>3.3万人已<i>加入购物车</i></h3>
                    </a></li>
                    <li><a href="">
                        <img src="{{Random.image('118x76', Random.color())}}">
                        <h3>3.3万人已<i>加入购物车</i></h3>
                    </a></li>
                    <li><a href="">
                        <img src="{{Random.image('118x76', Random.color())}}">
                        <h3>3.3万人已<i>加入购物车</i></h3>
                    </a></li>
                    <li><a href="">
                        <img src="{{Random.image('118x76', Random.color())}}">
                        <h3>3.3万人已<i>加入购物车</i></h3>
                    </a></li>
                </ul>
            </div>
            <a class="tab-s1t-home-hot" href=""><img src="{{Random.image('86x64', Random.color())}}"></a>
            <a class="tab-s1t-home-sale" href=""><img src="{{Random.image('86x64', Random.color())}}"></a>
            <a class="tab-s1t-home-go" href=""></a>
        </div>
        <div class="tab-s1t-panel">
            <div class="tab-s1t-grid">
                <a href="">
                    <img src="{{Random.image('224x212', Random.color())}}">
                    <h3>拉夏贝尔 付定金翻3倍满减</h3>
                </a>
                <a href="">
                    <img src="{{Random.image('224x212', Random.color())}}">
                    <h3>拉夏贝尔 付定金翻3倍满减</h3>
                </a>
                <a href="">
                    <img src="{{Random.image('224x212', Random.color())}}">
                    <h3>拉夏贝尔 付定金翻3倍满减</h3>
                </a>
                <a href="">
                    <img src="{{Random.image('224x212', Random.color())}}">
                    <h3>拉夏贝尔 付定金翻3倍满减</h3>
                </a>
            </div>
            <div class="tab-s1t-side">
                <div class="tab-s1t-rank">
                    <h2>女装热买榜</h2>
                    <ul>
                        <li><a href=""><i>288132</i>大毛领外套</a></li>
                        <li><a href=""><i>288132</i>大毛领外套</a></li>
                        <li><a href=""><i>288132</i>大毛领外套</a></li>
                        <li><a href=""><i>288132</i>大毛领外套</a></li>
                        <li><a href=""><i>288132</i>大毛领外套</a></li>
                        <li><a href=""><i>288132</i>大毛领外套</a></li>
                        <li><a href=""><i>288132</i>大毛领外套</a></li>
                        <li><a href=""><i>288132</i>大毛领外套</a></li>
                    </ul>
                </div>
                <a class="tab-s1t-ad" href=""><img src="{{Random.image('200x84', Random.color())}}"></a>
            </div>
        </div>
    </div>
</div>