<div class="tab-game-style">
    <div class="tab-gs-atlas-news">
        <div class="tab-gs-title">
            <h3>游戏新鲜事<i></i></h3>
        </div>
        <div class="tab-gs-an-carousel">
            <div class="tab-gs-an-view">
                <ul>
                    <li><a href="">
                        <img src="{{Random.image('404x186', Random.color())}}" alt="{{Random.ctitle(20)}}">
                        <h3>{{Random.ctitle(20)}}</h3>
                    </a></li>
                    <li><a href="">
                        <img src="{{Random.image('404x186', Random.color())}}" alt="{{Random.ctitle(20)}}">
                        <h3>{{Random.ctitle(20)}}</h3>
                    </a></li>
                    <li><a href="">
                        <img src="{{Random.image('404x186', Random.color())}}" alt="{{Random.ctitle(20)}}">
                        <h3>{{Random.ctitle(20)}}</h3>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="tab-gs-an-list">
            <ul>
                <li><a href="">
                    <img src="{{Random.image('86x48', Random.color())}}" alt="{{Random.ctitle(40)}}">
                    <p>{{Random.ctitle(40)}}</p>
                </a></li>
                <li><a href="">
                    <img src="{{Random.image('86x48', Random.color())}}" alt="{{Random.ctitle(40)}}">
                    <p>{{Random.ctitle(40)}}</p>
                </a></li>
                <li><a href="">
                    <img src="{{Random.image('86x48', Random.color())}}" alt="{{Random.ctitle(40)}}">
                    <p>{{Random.ctitle(40)}}</p>
                </a></li>
                <li><a href="">
                    <img src="{{Random.image('86x48', Random.color())}}" alt="{{Random.ctitle(40)}}">
                    <p>{{Random.ctitle(40)}}</p>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="tab-gs-flash-game">
        <div class="tab-gs-title">
            <h3>Flash游戏推荐<i></i></h3>
        </div>
        <div class="tab-gs-fg-container">
            <div class="tab-gs-fg-match"><a href="">
                <div class="tab-gs-fg-m-pic">
                    <img src="{{Random.image('82x82', Random.color())}}">
                    <i></i>
                </div>
                <h3>Flash桌球大师</h3>
                <div class="tab-gs-fg-m-status">
                    <span>积分赛进行中<i></i></span>
                </div>
                <p>55万人已参加</p>
            </a></div>
            <div class="tab-gs-fg-list">
                <ul>
                    <li><a href="">
                        <div class="tab-gs-fg-l-pic">
                            <img src="{{Random.image('54x54', Random.color())}}">
                            <i></i>
                        </div>
                        <div class="tab-gs-fg-l-con">
                            <h3><span>生存战斗游戏</span><i></i></h3>
                            <p>我和你渴望堂堂正正的较量</p>
                            <div class="tab-gs-fg-l-hots">人气：23312</div>
                        </div>
                    </a></li>
                    <li><a href="">
                        <div class="tab-gs-fg-l-pic">
                            <img src="{{Random.image('54x54', Random.color())}}">
                            <i></i>
                        </div>
                        <div class="tab-gs-fg-l-con">
                            <h3><span>生存战斗游戏</span><i></i></h3>
                            <p>我和你渴望堂堂正正的较量</p>
                            <div class="tab-gs-fg-l-hots">人气：23312</div>
                        </div>
                    </a></li>
                    <li><a href="">
                        <div class="tab-gs-fg-l-pic">
                            <img src="{{Random.image('54x54', Random.color())}}">
                            <i></i>
                        </div>
                        <div class="tab-gs-fg-l-con">
                            <h3><span>生存战斗游戏</span><i></i></h3>
                            <p>我和你渴望堂堂正正的较量</p>
                            <div class="tab-gs-fg-l-hots">人气：23312</div>
                        </div>
                    </a></li>
                    <li><a href="">
                        <div class="tab-gs-fg-l-pic">
                            <img src="{{Random.image('54x54', Random.color())}}">
                            <i></i>
                        </div>
                        <div class="tab-gs-fg-l-con">
                            <h3><span>生存战斗游戏</span></h3>
                            <p>我和你渴望堂堂正正的较量</p>
                            <div class="tab-gs-fg-l-hots">人气：23312</div>
                        </div>
                    </a></li>
                    <li><a href="">
                        <div class="tab-gs-fg-l-pic">
                            <img src="{{Random.image('54x54', Random.color())}}">
                            <i></i>
                        </div>
                        <div class="tab-gs-fg-l-con">
                            <h3><span>生存战斗游戏</span></h3>
                            <p>我和你渴望堂堂正正的较量</p>
                            <div class="tab-gs-fg-l-hots">人气：23312</div>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>