<div class="tab-shop-carousel">
    <div class="tab-sp-main">
        <div class="tab-sp-carousel">
            <div class="tab-sp-view">
                <ul>
                    <li><a href="">
                        <img src="{{Random.image('512x276', Random.color())}}" alt="{{Random.ctitle(20)}}">
                        <h3>{{Random.ctitle(20)}}</h3>
                    </a></li>
                    <li><a href="">
                        <img src="{{Random.image('512x276', Random.color())}}" alt="{{Random.ctitle(20)}}">
                        <h3>{{Random.ctitle(20)}}</h3>
                    </a></li>
                    <li><a href="">
                        <img src="{{Random.image('512x276', Random.color())}}" alt="{{Random.ctitle(20)}}">
                        <h3>{{Random.ctitle(20)}}</h3>
                    </a></li>
                </ul>
            </div>
            <div class="tab-sp-arrow">
                <span class="tab-sp-prev"></span>
                <span class="tab-sp-next"></span>
            </div>
            <div class="tab-sp-dots">
                <div class="inner">
                    <a class="cur"></a>
                    <a></a>
                    <a></a>
                </div>
            </div>
        </div>
        <div>
            <div class="tab-sp-hd">
                <i>TMALL天猫</i>
                <span>理想生活上天猫</span>
            </div>
            <div class="tab-sp-bd">
                <a href=""><img src="{{Random.image('242x150', Random.color())}}" alt="{{Random.ctitle(20)}}"></a>
                <a href=""><img src="{{Random.image('242x150', Random.color())}}" alt="{{Random.ctitle(20)}}"></a>
            </div>
        </div>
    </div>
    <div class="tab-sp-aside">
        <a href="" class="tab-spa-large"><img src="{{Random.image('158x276', Random.color())}}" alt="{{Random.ctitle(20)}}"></a>
        <h3 class="tab-spa-tit">今日热卖</h3>
        <a href="" class="tab-spa-small"><img src="{{Random.image('158x186', Random.color())}}" alt="{{Random.ctitle(20)}}"></a>
    </div>
</div>