<div class="splash-ad">
    <div class="sa-large">
        <div class="sa-close"></div>
        <a href=""><img src="http://cos.flash.2144.com/images/6a353f6aec48cc3296279993435a849b.png"></a>
    </div>
    <div class="sa-small">
        <span></span>
        <a href=""><img src="http://cos.flash.2144.com/images/b8ba0326e4078f29a2120b7fee1b3143.png"></a>
    </div>
</div>