<div class="tips-network-error">
    <div class="tne-head">
        <h2>FF新鲜事-Flash助手推荐</h2>
        <span class="tne-close"></span>
        <span class="tne-no-longer">不再弹出</span>
    </div>
    <div class="tne-body">
        {% include "../NetworkError/NetworkError.njk" %}
    </div>
</div>
