<div class="index-tabs">
    <ul class="it-head">
        <li class="cur"><span>热点</span></li>
        <li><span>娱乐</span></li>
        <li><span>体育</span></li>
        <li><span>社会</span></li>
        <li><span>汽车</span></li>
        <li><span>财经</span></li>
        <li><span>科技</span></li>
        <li><span>笑话</span></li>
        <li><span>养生</span></li>
        <li><span>双11</span></li>
    </ul>
    <div class="it-body">
        <div class="it-panel cur"></div>
        <div class="it-panel"></div>
        <div class="it-panel"></div>
        <div class="it-panel"></div>
        <div class="it-panel"></div>
        <div class="it-panel"></div>
        <div class="it-panel"></div>
        <div class="it-panel"></div>
        <div class="it-panel"></div>
        <div class="it-panel"></div>
        <div class="it-panel"></div>
        <div class="it-panel"></div>
    </div>
</div>