<div class="full-image">
    <div class="fi-head">
        <h2>FF新鲜事-Flash助手推荐</h2>
        <span class="fi-close"></span>
        <span class="fi-no-longer">不再弹出</span>
    </div>
    <div class="fi-body">
        <a href="">
            <img src="{{Random.image('260x328', Random.color())}}">
        </a>
    </div>
</div>