<div class="news-list">
    <div class="nl-head">
        <h2>FF新鲜事-Flash助手推荐</h2>
        <span class="nl-close"></span>
        <span class="nl-no-longer">不再弹出</span>
    </div>
    <div class="nl-body">
        <ul class="nl-list">
            <li class="nl-single"><a href="">
                <h3 class="nl-title">{{Random.ctitle(20)}}</h3>
                <div class="nl-pics">
                    <img src="{{Random.image('94x58', Random.color())}}" alt="{{Random.ctitle(20)}}">
                </div>
                <div class="nl-info">{{Random.ctitle(5)}}</div>
            </a></li>
            <li class="nl-single"><a href="">
                <h3 class="nl-title">{{Random.ctitle(20)}}</h3>
                <div class="nl-pics">
                    <img src="{{Random.image('94x58', Random.color())}}" alt="{{Random.ctitle(20)}}">
                </div>
                <div class="nl-info">{{Random.ctitle(5)}}</div>
            </a></li>
            <li class="nl-group"><a href="">
                <h3 class="nl-title">{{Random.ctitle(25)}}</h3>
                <div class="nl-pics">
                    <img src="{{Random.image('94x58', Random.color())}}" alt="{{Random.ctitle(20)}}">
                    <img src="{{Random.image('94x58', Random.color())}}" alt="{{Random.ctitle(20)}}">
                    <img src="{{Random.image('94x58', Random.color())}}" alt="{{Random.ctitle(20)}}">
                </div>
                <div class="nl-info">{{Random.ctitle(5)}}</div>
            </a></li>
            <li class="nl-single"><a href="">
                <h3 class="nl-title">{{Random.ctitle(20)}}</h3>
                <div class="nl-pics">
                    <img src="{{Random.image('94x58', Random.color())}}" alt="{{Random.ctitle(20)}}">
                </div>
                <div class="nl-info">{{Random.ctitle(5)}}</div>
            </a></li>
        </ul>
    </div>
</div>